<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- ************************************************ -->
	<!-- ****************** APPENDERS ******************* -->
	<!-- ************************************************ -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] (%F\:%L) %p %t %c %m%n" />
		</layout>
	</appender>


	<appender name="LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${jboss.server.log.dir}/cxf-wss4j.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%d{ISO8601}][%-4L] %F>%m%n" />
		</layout>
	</appender>




	<!-- ************************************************ -->
	<!-- ****************** LOGGERS ********************* -->
	<!-- ************************************************ -->

	<logger name="es.sisifo">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.cxf">
		<level value="INFO" />
	</logger>


	<root>
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOG" />
	</root>

</log4j:configuration>
